<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      class=" btn btn-link"
      routerLink="/">To main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>29.01.2020</small>
  </div>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate. Asperiores debitis incidunt nostrum pariatur ratione. Ad aliquid cum dolor illum non obcaecati
      sapiente?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate. Asperiores debitis incidunt nostrum pariatur ratione. Ad aliquid cum dolor illum non obcaecati
      sapiente?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate. Asperiores debitis incidunt nostrum pariatur ratione. Ad aliquid cum dolor illum non obcaecati
      sapiente?adipisicing elit. Asperiores qui quia veritatis!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate. Asperiores debitis incidunt nostrum pariatur ratione. Ad aliquid cum dolor illum non obcaecati
      sapiente?adipisicing elit. Asperiores qui quia veritatis! adipisicing elit. Asperiores qui quia veritatis!
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores qui quia veritatis! Ad itaque praesentium
      voluptate. Asperiores debitis incidunt nostrum pariatur ratione. Ad aliquid cum dolor illum non obcaecati
      sapiente?
    </p>
  </div>
</div>
