<div class="container">
  <h1 class="text-center">Animation</h1>

  <div class="image">
    <img [@animate]="position" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="">
  </div>

  <div class="btn-footer">
    <button (click)="changePosition('move')">Move</button>
    <button (click)="changePosition('enlarge')">Scale</button>
    <button (click)="changePosition('spin')">Rotate</button>
    <button (click)="changePosition(null)">Reset</button>
  </div>
</div>
