:host {
  height: fit-content;
  display: flex;
  align-self: center;
  margin: 0 auto;
}
form {
  min-width: 500px;
  margin: 0 auto;

  h2 {
    margin-bottom: 1rem;
  }

  .enter {
    display: flex;
    justify-content: flex-end;
  }
}


